body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

label {
	display: block;
}

nav a {
	display: inline-block;
	margin: 1em;
}

form div {
	margin: 0px;
	display: inline-block;
}

.navbar-style {
	background-color: mediumblue;
}

.custom-control-label {
	font-weight: 400;
}

.forgot-password,
.forgot-password a {
	font-size: 13px;
	padding-top: 10px;
	color: #7f7d7d;
	margin: 0;
	padding-bottom: 10px;
}

.forgot-password a {
	color: #167bff;
}

.auth-wrapper .form-control:focus {
	border-color: #167bff;
	box-shadow: none;
}

.navbar-title-and-menu {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.website-name {
	size: 32px;
	letter-spacing: 5px;
	color: white;
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-row {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.posts-navbar-link {
	display: flex;
	flex-direction: row;
}

.navbar-light .navbar-text a {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	letter-spacing: 2px;
}

.navbar-light .navbar-text a:hover {
	color: yellow;
	text-decoration: none;
}

.form {
	display: flex;
	flex-direction: column;
}

.App {
	text-align: center;
	padding: 1em;
	margin: 1em;
	border: solid 2px mediumblue;
	background-color: lightgray;
	border-radius: 0.5em;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	margin-top: 100px;
}

.input-style {
	padding: 5px;
}

.label-style {
	padding-bottom: 7px;
	padding-top: 7px;
}

.password-label {
	padding-top: 10px;
	padding-bottom: 10px;
}

.button-space {
	margin-right: 5px;
}

.form-centered {
	display: contents;
}

.post-row {
	display: flex;
	justify-content: center;
	background-color: #f5f5f5;
	margin: 20px;
	padding: 20px;
	min-height: 20px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.nav-admin-color {
	color: white;
}

.comments-all-posts {
	margin-right: 10px;
}

.row-all-posts {
	margin-right: 0px;
	margin-left: 0px;
}

.form-labels-style {
	margin: 15px;
}

.form-style {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}
