@import url(https://fonts.googleapis.com/css?family=Cabin:regular,italic,500,500italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Spectral:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);

* {
	font-family: "Merriweather", regular;
}

a {
	text-decoration: none;
}

label {
	display: block;
}

nav a {
	display: inline-block;
	margin: 1em;
}

form div {
	margin: 0px;
	display: inline-block;
}

.custom-control-label {
	font-weight: 400;
}

.forgot-password,
.forgot-password a {
	font-size: 13px;
	padding-top: 10px;
	color: #7f7d7d;
	margin: 0;
	padding-bottom: 10px;
}

.forgot-password a {
	color: #167bff;
}

.auth-wrapper .form-control:focus {
	border-color: #167bff;
	box-shadow: none;
}

.navbar-title-and-menu {
	display: flex;
	justify-content: center;
	flex-direction: row;
	position: absolute;
	bottom: 4px;
	align-content: center;
}

.website-name {
	size: 32px;
	letter-spacing: 5px;
	color: white;
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-row {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
}

.posts-navbar-link {
	display: flex;
	flex-direction: row;
}

.navbar-light .navbar-text,
.navbar-row a {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	letter-spacing: 2px;
}

.navbar-row a {
	padding-right: 5px;
	padding-left: 5px;
}

.navbar-light .navbar-text a:hover {
	color: yellow;
	text-decoration: none;
}

.form {
	display: flex;
	flex-direction: column;
}

.App {
	text-align: center;
	padding: 1em;
	margin: 1em;
	border: solid 3px #1a74e2;
	background-color: lightgray;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	margin-top: 100px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.input-style {
	padding: 5px;
}

.label-style {
	padding-bottom: 7px;
	padding-top: 7px;
}

.password-label {
	padding-top: 10px;
	padding-bottom: 10px;
}

.button-space {
	margin-right: 5px;
}

.form-centered {
	display: contents;
}

@media (min-width: 607px) {
	.post-row {
		display: flex;
		justify-content: center;
		background-color: #f5f5f5;
		margin: 20px;
		padding: 20px;
		min-height: 20px;
		border: 1px solid #e3e3e3;
		border-radius: 4px;
		box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2),
			0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

.post-row {
	display: flex;
	justify-content: center;
	background-color: #f5f5f5;
	margin: 20px;
	padding: 20px;
	min-height: 20px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-admin-color {
	color: white;
}

.comments-all-posts {
	margin-right: 10px;
}

.row-all-posts {
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 20px;
}

.form-labels-style {
	margin: 15px;
}

.form-style {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
	background-color: darkgrey;
	margin-right: 30px;
	margin-left: 50px;
	padding-top: 30px;
	border: solid 2px #167bff;
}

@media (min-width: 820px) {
	.form-style {
		border: solid 2px #167bff;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 30px;
		background-color: darkgrey;
		margin-right: 120px;
		margin-left: 120px;
		padding-top: 30px;
		padding-bottom: 30px;
		box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2),
			0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

.about-title,
.library-title {
	text-align: center;
	margin-top: 15px;
}

.about-title {
	margin-bottom: 30px;
}

.home-page-image-size {
	width: 300px;
	height: 300px;
	margin-bottom: 20px;
	box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	align-self: center;
}

@media (min-width: 880px) {
	.home-page-image-size {
		width: 400px;
		height: 400px;
		box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2),
			0 6px 20px 0 rgba(0, 0, 0, 0.19);
		align-self: auto;
	}
}

@media (min-width: 1016px) {
	.home-page-image-size {
		width: 500px;
		height: 500px;
	}
}

.single-post-title {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: x-large;
	text-align: center;
}

.single-post-description {
	display: flex;
	margin-left: 150px;
	margin-right: 150px;
	font-size: 16px;
}

@media (min-width: 650px) {
	.single-post-date {
		display: flex;
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 20px;
		color: darkgray;
		font-size: 16px;
		align-items: center;
	}
}

.single-post-date {
	flex-direction: column;
	display: flex;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	color: darkgray;
	font-size: 16px;
	align-items: center;
}

.single-post-tag {
	display: flex;
	justify-content: center;
	margin-right: 50px;
	margin-top: 20px;
	color: darkgray;
	font-size: 16px;
	margin-left: 50px;
}

@media (min-width: 650px) {
	.single-post-share {
		justify-content: flex-end;
	}
}

.single-post-share {
	margin-left: 170px;
	margin-right: 50px;
}

.tag-text {
	background-color: darkgrey;
	color: white;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 5px;
}

.single-post {
	padding: 20px;
}

.posts-images {
	width: auto;
	max-width: 398px;
	height: 300px;
	object-fit: cover;
}

.header-image {
	height: auto;
	width: -webkit-fill-available;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.library-images {
	height: 150px;
}

.library-layout {
	display: flex;
	justify-content: start;
	margin-bottom: 40px;
	flex-wrap: wrap;
}

.single-post-image {
	max-height: 500px;
	margin: auto;
	display: flex;
	align-self: center;
}

.post-layout {
	display: flex;
}

@media (max-width: 800px) {
	.post-layout {
		flex-direction: column;
	}

	.single-post-description {
		justify-content: center;
		margin-left: 15px;
		margin-right: 15px;
	}

	.single-post-image {
		max-height: 500px;
		max-width: 350px;
		max-block-size: fit-content;
		margin-top: 20px;
	}

	.single-post-title {
		display: flex;
		justify-content: center;
		text-align: center;
	}
}

.comments-title {
	display: flex;
	justify-content: center;
}

.post-font {
	font-size: 22px;
	color: black;
	text-align: center;
	margin-top: 20px;
	min-height: 50px;
}

.post-font:hover {
	text-shadow: none;
}

.post-text {
	font-size: 18px;
	color: black;
}

.library-folders {
	font-size: 22px;
	letter-spacing: 2px;
}

.folder {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.folder:hover {
	background-color: #edeec9;
	padding: 10px;
	align-items: center;
	border-radius: 50% 20% / 10% 40%;
}

.comment-align {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-row {
	display: flex;
	flex-direction: column-reverse;

	margin-left: 40px;
	margin-right: 40px;
}

@media (min-width: 880px) {
	.about-row {
		display: flex;
		flex-direction: unset;
		margin-left: 40px;
		margin-right: 40px;
	}
}

@media (min-width: 880px) {
	.p-margin {
		margin-right: 30px;
	}
}

.p-margin {
	margin-right: 12px;
}

.post-box {
	width: 400px;
	height: fit-content;
	margin-top: 50px;
	margin-bottom: 40px;
	margin-right: 15px;
	margin-left: 15px;
	text-align: center;
}

.post-box:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
	border: 1px solid #1a74e2;
}

.all-posts-boxes {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.likes {
	display: flex;
	justify-content: center;
	padding-right: 10px;
	padding-left: 10px;
}

.explore-button:hover {
	background: navy;
	color: white;
}

.button-delete {
	text-align: center;
	margin-top: 20px;
}

.button-update {
	text-align: center;
	margin-top: 20px;
}

.explore-button {
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	border: 2px solid black;
	margin-bottom: 10px;
}

.button-explore {
	text-align: center;
}

.footer {
	background-color: #101727;
	height: fit-content;
	margin-bottom: 0px;
	margin-top: 350px;
}

.footer-col {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.footer-text {
	color: white;
	font-weight: bold;
	text-decoration: underline;
	text-decoration-style: double;
}

.footer-inside-col {
	display: flex;
	flex-direction: column;
	padding-right: 5px;
	padding-left: 5px;
}

.footer-description {
	color: white;
	font-weight: lighter;
	font-style: oblique;
}

.designed-by {
	color: white;
}

.github-and-developers {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.github {
	color: white;
	text-decoration: underline;
	margin-bottom: 10px;
}

.admin-login {
	color: white;
	font-weight: lighter;
}

.admin-login:hover,
.signup-newsletters:hover {
	color: #1a74e2;
	text-decoration: none;
}

.newsletter {
	text-align: center;
}

.github:hover {
	color: #1a74e2;
}

.signup-newsletters {
	color: white;
	font-weight: lighter;
}

.social-media {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.admin-dashboard {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.welcome-admin {
	text-align: center;
	padding-top: 30px;
}

.admin-options,
.admin-options-2 {
	background-color: gainsboro;
	box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 20px;
	padding: 30px;
	width: 300px;
	border: 2px solid;
	font-weight: 700;
}

.admin-options-2 {
	margin-bottom: 110px;
}

.admin-options:hover,
.admin-options-2:hover {
	background-color: #1a74e2;
	border: 2px solid;
	color: white;
}

.submitted {
	background-color: darkgray;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	text-align: center;
	padding: 20px;
	font-weight: 700;
	font-style: oblique;
	font-size: larger;
}

.sort-tags {
	display: flex;
	justify-content: space-around;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 30px;
	flex-direction: row;
}

.tags {
	background-color: darkgrey;
	color: white;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 5px;
}

.navbar-container {
	position: relative;
	text-align: center;
	color: white;
	height: 100px;
	background-color: navy;
}

.description-blog {
	min-height: 600px;
}

.col-md-6 {
	max-width: 100%;
}

.author-link {
	padding-right: 5px;
	padding-left: 5px;
	color: #1a74e2;
}

.author-link:hover {
	color: darkolivegreen;
}

.tags-all-posts {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.each-tag {
	margin-right: 5px;
	margin-left: 5px;
}

.buttons-align {
	justify-content: space-around;
	display: flex;
}

.share-image {
	height: 30px;
	padding-left: 5px;
}

.menu-tags-gallery {
	margin-left: 30px;
}

.date-format {
	padding-left: 5px;
}

.gallery-grid {
	display: flex;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 8px;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.gallery-grid div {
	position: relative;
	cursor: pointer;
}

.image-margin {
	margin: 20px;
}

@media (min-width: 650px) {
	.category-font {
		font-size: 28px;
	}
}

@media (max-width: 650px) {
	.category-font {
		letter-spacing: 1px;
		font-size: 16px;
		font-weight: bold;
	}
}

.category-font-2,
.see-all {
	font-size: 15px;
}

.see-all:hover {
	cursor: pointer;
	color: #167bff;
}

a.see-all {
	color: black;
}

.credits-tag {
	text-align: center;
	margin-top: 10px;
}

.tags-font:hover {
	width: fit-content;
	color: #167bff;
}

@media (max-width: 650px) {
	.tags-font {
		letter-spacing: 2px;
		font-size: 12px;
	}
}

@media (min-width: 650px) {
	.tags-font {
		font-size: 18px;
	}
}

.tags-font-2 {
	font-size: 15px;
}

.tags-font-2:hover {
	color: #1a74e2;
	cursor: pointer;
}

.image-title-gallery {
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.category-button {
	margin-left: 10px;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.modal-main {
	position: fixed;
	background: white;
	width: 50%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

.form-new-category {
	padding: 20px;
	text-align: center;
}

.category-input {
	margin: 10px;
}

@media (min-width: 750px) {
	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 60px;
		top: 0;
		background: #42a5f5;
	}
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	top: 0;
	background: #1a74e2;
}

.nav__item {
	display: inline-block;
	margin: 0px 30px;
	color: white;
}

.nav__title {
	font-size: 1.25em;
	color: white;
	font-weight: bold;
	margin: 0px 30px;
}

.nav__title:hover {
	text-decoration: none;
	color: #101727;
}

@media (min-width: 650px) {
	.btn-3 {
		background: #42a5f5;
		background: linear-gradient(
			0deg,
			rgba(0, 172, 238, 1) 0%,
			rgba(2, 126, 251, 1) 100%
		);
		width: 130px;
		height: 40px;
		line-height: 42px;
		padding: 0;
		border: none;
		color: black;
		margin-top: 20px;
		margin-bottom: 10px;
	}
}

.btn-3 {
	margin-bottom: 30px;
	background: #42a5f5;
	background: linear-gradient(
		0deg,
		rgba(0, 172, 238, 1) 0%,
		rgba(2, 126, 251, 1) 100%
	);
	width: 130px;
	height: 40px;
	line-height: 42px;
	padding: 0;
	border: none;
	color: black;
}

.btn-3:hover {
	background: #101727;
	border: #42a5f5;
	color: white;
	box-shadow: none;
}

.read-more {
	color: black;
}

.grow {
	transition: all 0.1s ease-in-out;
}

.grow:hover {
	transform: scale(1.1);
}

.active,
.nav__item:hover {
	color: #101727;
	text-decoration: none;
}

.add-close {
	margin: 5px;
}

.posts-tags {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	align-items: center;
}

@media (min-width: 650px) {
	.posts-category {
		display: flex;
		flex-direction: row;
		margin-left: 30px;
		flex-wrap: wrap;
		font: 15px;
	}
	.category-font-2 {
		letter-spacing: 1px;
		font-weight: bolder;
		font-size: 18px;
	}
	.tags-font-2 {
		letter-spacing: 2px;
		font-size: 18px;
	}
	.see-all {
		letter-spacing: 1px;
		font-size: 21px;
		text-decoration-style: double;
		text-decoration: underline;
	}
}

.see-all {
	font-weight: bolder;
	text-decoration-style: double;
	text-decoration: underline;
}

.posts-category {
	display: flex;
	flex-direction: row;
	margin-left: 30px;
	flex-wrap: wrap;
}

.row-date {
	flex-direction: row;
	display: flex;
}

._2tga.active {
	background: #101727;
}
