@import url(https://fonts.googleapis.com/css?family=Cabin:regular,italic,500,500italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Spectral:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);
* {
	font-family: "Roboto", regular;
}

body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

label {
	display: block;
}

nav a {
	display: inline-block;
	margin: 1em;
}

form div {
	margin: 0px;
	display: inline-block;
}

.custom-control-label {
	font-weight: 400;
}

.forgot-password,
.forgot-password a {
	font-size: 13px;
	padding-top: 10px;
	color: #7f7d7d;
	margin: 0;
	padding-bottom: 10px;
}

.forgot-password a {
	color: #167bff;
}

.auth-wrapper .form-control:focus {
	border-color: #167bff;
	box-shadow: none;
}

.navbar-title-and-menu {
	display: flex;
	justify-content: center;
	flex-direction: row;
	position: absolute;
	bottom: 4px;
	align-content: center;
}

.website-name {
	size: 32px;
	letter-spacing: 5px;
	color: white;
	text-align: center;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-row {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
}

.posts-navbar-link {
	display: flex;
	flex-direction: row;
}

.navbar-light .navbar-text,
.navbar-row a {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	letter-spacing: 2px;
}

.navbar-row a {
	padding-right: 5px;
	padding-left: 5px;
}

.navbar-light .navbar-text a:hover {
	color: yellow;
	text-decoration: none;
}

.form {
	display: flex;
	flex-direction: column;
}

.App {
	text-align: center;
	padding: 1em;
	margin: 1em;
	border: solid 3px #77bfa3;
	background-color: lightgray;
	border-radius: 50% 20% / 10% 40%;
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	margin-top: 100px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.input-style {
	padding: 5px;
}

.label-style {
	padding-bottom: 7px;
	padding-top: 7px;
}

.password-label {
	padding-top: 10px;
	padding-bottom: 10px;
}

.button-space {
	margin-right: 5px;
}

.form-centered {
	display: contents;
}

@media (min-width: 607px) {
	.post-row {
		display: flex;
		justify-content: center;
		background-color: #f5f5f5;
		margin: 20px;
		padding: 20px;
		min-height: 20px;
		border: 1px solid #e3e3e3;
		border-radius: 4px;
		box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2),
			0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

.post-row {
	display: flex;
	justify-content: center;
	background-color: #f5f5f5;
	margin: 20px;
	padding: 20px;
	min-height: 20px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-admin-color {
	color: white;
}

.comments-all-posts {
	margin-right: 10px;
}

.row-all-posts {
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 20px;
}

.form-labels-style {
	margin: 15px;
}

.form-style {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
	background-color: darkgrey;
	margin-right: 50px;
	margin-left: 50px;
	padding-top: 30px;
}

@media (min-width: 820px) {
	.form-style {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 30px;
		background-color: darkgrey;
		margin-right: 120px;
		margin-left: 120px;
		padding-top: 30px;
		padding-bottom: 30px;
		box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2),
			0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
}

.about-title,
.library-title {
	text-align: center;
	margin-top: 15px;
}

.about-title {
	margin-bottom: 30px;
}

.home-page-image-size {
	width: 300px;
	height: 300px;
	margin-bottom: 20px;
	box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	align-self: center;
}

@media (min-width: 880px) {
	.home-page-image-size {
		width: 400px;
		height: 400px;
		box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2),
			0 6px 20px 0 rgba(0, 0, 0, 0.19);
		align-self: auto;
	}
}

@media (min-width: 1016px) {
	.home-page-image-size {
		width: 500px;
		height: 500px;
	}
}

.single-post-title {
	display: flex;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: x-large;
}

.single-post-description {
	display: flex;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 16px;
}

.single-post-date {
	display: flex;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: darkgray;
	font-size: 16px;
}

.single-post-tag,
.single-post-share {
	display: flex;
	justify-content: flex-start;
	margin-right: 50px;
	margin-top: 20px;
	color: darkgray;
	font-size: 16px;
	margin-left: 50px;
}

.tag-text {
	background-color: darkgrey;
	color: white;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 5px;
}

.single-post {
	padding: 20px;
	/* box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.posts-images {
	height: auto;
	width: 100%;
}

.header-image {
	height: auto;
	width: -webkit-fill-available;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}

.library-images {
	height: 150px;
}

.library-layout {
	display: flex;
	justify-content: start;
	margin-top: 40px;
	margin-bottom: 40px;
	flex-wrap: wrap;
}

.single-post-image {
	max-height: 300px;
	margin: auto;
}

.post-layout {
	display: flex;
}

@media (max-width: 800px) {
	.post-layout {
		flex-direction: column;
	}
	.single-post-description {
		justify-content: center;
	}
	.single-post-image {
		max-height: 300px;
		max-width: 350px;
		max-block-size: fit-content;
		margin-top: 20px;
	}
	.single-post-title {
		display: flex;
	}
}

.comments-title {
	display: flex;
	justify-content: center;
}

.post-font {
	font-size: 22px;
	color: black;
	text-align: center;
	margin-top: 20px;
	min-height: 50px;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
}

.post-text {
	font-size: 18px;
	color: black;
}

.library-folders {
	font-size: 22px;
	letter-spacing: 2px;
}

.folder {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.folder:hover {
	background-color: #edeec9;
	padding: 10px;
	align-items: center;
	border-radius: 50% 20% / 10% 40%;
}

.comment-align {
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-row {
	display: flex;
	flex-direction: column-reverse;

	margin-left: 40px;
	margin-right: 40px;
}
@media (min-width: 880px) {
	.about-row {
		display: flex;
		flex-direction: unset;
		margin-left: 40px;
		margin-right: 40px;
	}
}

.p-margin {
	margin-right: 30px;
}

.read-more {
	color: orangered;
	font-style: italic;
}

.post-box {
	background: darkgrey;
	width: 300px;
	height: 400px;
	margin-top: 50px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	/* box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.post-box:hover {
	background-color: #d0d373;
	-webkit-box-shadow: 0 8px 6px -6px #77bfa3;
	-moz-box-shadow: 0 8px 6px -6px #77bfa3;
	box-shadow: 0 8px 6px -6px #77bfa3;
}

.all-posts-boxes {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.likes {
	display: flex;
	justify-content: center;
	padding-right: 10px;
	padding-left: 10px;
}

.explore-button:hover {
	background: cadetblue;
	color: black;
}

.button-delete {
	text-align: center;
	margin-top: 20px;
}

.button-update {
	text-align: center;
	margin-top: 20px;
}

.explore-button {
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	border: 2px solid black;
}

.button-explore {
	text-align: center;
}

.footer {
	background-color: #101727;
	height: 200px;
	margin-bottom: 0px;
	margin-top: 50px;
}

.footer-col {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.footer-text {
	color: white;
	font-weight: bold;
}

.footer-inside-col {
	display: flex;
	flex-direction: column;
	padding-right: 5px;
	padding-left: 5px;
}

.footer-description {
	color: white;
	font-weight: lighter;
	font-style: oblique;
}

.designed-by {
	color: white;
}

.github-and-developers {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.github {
	color: white;
	text-decoration: underline;
}

.admin-login {
	color: white;
	font-weight: lighter;
}

.admin-login:hover,
.github:hover,
.signup-newsletters:hover {
	color: red;
	font-size: 20px;
}

.signup-newsletters {
	color: white;
	font-weight: lighter;
}

.social-media {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.admin-dashboard {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.welcome-admin {
	text-align: center;
	padding-top: 30px;
}

.admin-options {
	background-color: gainsboro;
	box-shadow: 0 10px 15px 9px rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 20px;
	padding: 30px;
	width: 300px;
	border: 2px solid darkgoldenrod;
	font-weight: 700;
}

.admin-options:hover {
	background-color: gold;
	border: 2px solid black;
}

.submitted {
	background-color: darkgray;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	text-align: center;
	padding: 20px;
	font-weight: 700;
	font-style: oblique;
	font-size: larger;
}

.sort-tags {
	display: flex;
	justify-content: space-around;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 30px;
	flex-direction: row;
}

.tags {
	background-color: darkgrey;
	color: white;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 5px;
}

.navbar-container {
	position: relative;
	text-align: center;
	color: white;
}

.description-blog {
	min-height: 600px;
}

.col-md-6 {
	max-width: 100%;
}

.author-link {
	padding-right: 5px;
	padding-left: 5px;
	color: darkkhaki;
}

.author-link:hover {
	color: darkolivegreen;
}

.tags-all-posts {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.each-tag {
	padding-right: 5px;
	padding-left: 5px;
}

.buttons-align {
	justify-content: space-around;
	display: flex;
}

.share-image {
	height: 30px;
	padding-left: 5px;
}

.menu-tags-gallery {
	margin-left: 30px;
}

.date-format {
	padding-left: 5px;
}

.gallery-grid {
	display: flex;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 8px;
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.gallery-grid div {
	position: relative;
	cursor: pointer;
}

.image-margin {
	margin: 20px;
}

.category-font {
	letter-spacing: 1px;
	font-size: 22px;
	font-family: "Merriweather", regular;
}

.category-font:hover,
.tags:hover {
	background-color: lightyellow;
	width: fit-content;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 50%;
}

.tags-font {
	letter-spacing: 2px;
	font-family: "Merriweather", regular;
}
